<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">PowerHang!</h3>
</div> --><div id="outerDiv" class="hero"><div class="well" ng-repeat="plan in plans"><span class="theplan" ng-bind-html="plan.plan | linky"></span></div><div id="chats" class="chat"><div ng-repeat="message in messages" class="message" ng-class-even="'even'"><span class="auth">{{message.author}}:</span> <span class="bubble me"><span ng-bind-html="message.message | linky"></span> <span class="timestamp">{{message.timestamp | date:'@ h:mma'}}</span></span></div></div><!--   <p><a class="btn btn-lg btn-success" ng-href="#">Submit!</a></p> --><div class="well" id="inputForm"><form class="form-inline"><div id="userNameForm">Your name:<input type="text" ng-model="username"></div></form><form class="form-inline" ng-submit="addMessage()"><input type="text" ng-model="message" placeholder="Message..."><button class="btn" type="submit"><i class="icon-reply">Send</i></button></form></div></div><div class="footer marketing"><p>♥ chorizo</p></div>